bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.vscode/
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.vscode/
.conda-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
toolchains/*
/vlsi/Bearly-power/*
/vlsi/build*
/vlsi/Robo-power/*
/vlsi/bearly-design-gen.yml
/vlsi/robo-design-gen.yml
/vlsi/hammer-bump-plugin/packaging_collateral/
novas.conf
novas.rc
verdiLog/